html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title  Gorkem 
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')


  body

    header
        article
            | Hello Everyone ! 




    script(src='/javascripts/lib/require.js', data-main='/javascripts/application.js')
